@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap');

/* Estilo geral da página */
body {
    margin: 30px;
    font-family: 'Comfortaa', system-ui;
    background-color: rgb(255, 215, 163);
}

/* Titulo principal da página */
h1 {
    text-shadow: 1px 2px 4px;
    text-align: center;
    font-family: "Tagesschrift", system-ui;
    font-weight: normal;
    font-size: 50pt;
    border-bottom: solid;
    border-color: brown;
    margin: 3px
}

strong {
    color: brown
}


nav {
    margin-left:auto; 
    margin-right:auto;
    width:fit-content;
    background-color: brown;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul li {
    padding: 0px 60px 0px 60px;
    border-right: solid 3px  rgb(124, 33, 33); ;
    border-left: solid 3px  rgb(124, 33, 33);
    float: left;
}
ul li a {
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-decoration: none;
}
a:hover {
    color: rgb(168, 168, 168);
}
